<div ui-view class="row" ng-controller="Obj1Ctrl" ng-init="getObj()">
    <h1 class = "text-center">Obj1 | <small>{{obj1s.length}} total</small></h1>
    <hr>
    <div class="col-lg-6" ng-repeat="obj1 in obj1s | limitTo:10">
        <!--col-md-offset-2 col-md-8 col-lg-offset-3 -->
        <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>{{obj1.firstName}} {{obj1.lastName}}</h2>
                    <p>
                        <strong>About:</strong>{{obj1.aboutBlurb}}</p>
                     <p>
                        <strong>Age:</strong>{{obj1.age}}</p>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img ng-src='{{obj1.linkedInPicture}}' class="img-circle img-responsive">
                        <figcaption class="ratings">
                            <p>Ratings
                                <a>
                                    <span class="fa fa-star"></span>
                                </a>
                                <a>
                                    <span class="fa fa-star"></span>
                                </a>
                                <a>
                                    <span class="fa fa-star"></span>
                                </a>
                                <a>
                                    <span class="fa fa-star"></span>
                                </a>
                                <a>
                                    <span class="fa fa-star-o"></span>
                                </a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-6 emphasis text-center">
                    <h2>
                        <strong>350</strong>
                    </h2>
                    <p>
                        <small>Network</small>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 emphasis text-center">
                    <h2>
                        <strong>43</strong>
                    </h2>
                    <p>
                        <small>Skills</small>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 text-center">

                <div class="col-sm-6 col-lg-4 text-center">

                    <a class="btn btn-info btn-block" href="{{obj1.linkedInLink}}" target="_blank" >
                        <span class="fa fa-linkedin"></span>
                        </a>
                </div>
                <div class="col-sm-6 col-lg-4 text-center"  target="_blank">
                    <a class="btn btn-info btn-block" href="{{obj1.linkedInLink}}" target="_blank" >
                        <span class="fa fa-envelope"></span>
                        </a>
                </div>
                <div class="col-sm-6 col-lg-4 text-center"  target="_blank">
                    <a class="btn btn-info btn-block" href="{{obj1.linkedInLink}}" target="_blank" >
                        <span class="fa fa-list"></span>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>
